<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<h3>List Microposts</h3>
<table>
  <tr>
    <th>ID</th>
    <th>Content</th>
  </tr>
  <% @user.microposts.each do |micropost| %>
    <tr>
      <td><%= micropost.id %></td>
      <td><%= micropost.content %></td>
    </tr>
  <% end %>
</table>

